# Virtual environment
medibot/
venv/
env/

# Environment variables (API keys)
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project-specific
Data/
tempCodeRunnerFile.py

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

#previous uploads
uploads/