<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact / Support</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/assets/medinsight ai logo nobg 1.png">
        <div class="profile-wrapper">
        <img class="dp" src="../static/assets/account 1.png" alt="Profile" id="profileBtn">
        <div class="profile-popup" id="profilePopup">
            <p class="profile-name">Anagha</p>
            <p class="profile-username">@anagha_k</p>
            <button class="add-patient-btn">Add Patient</button>
        </div>
    </div>
    </header>
    <div style="height: 100px"></div>


    <p class="subpage-headings">Contact / Support</p> 

    <p class="text-body">
        If you have questions, feedback, or suggestions about the platform, feel free to reach out to us.<br><br>

        Email: healthcompanion.project@gmail.com<br><br>
        
        Response Time: Within 24–48 hours (academic project)
    </p>
</body>
</html>