<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Medinsight AI</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='assets/medinsight ai logo nobg 1.png') }}" alt="Medinsight AI Logo">
    </header>

    <p class="subpage-headings">Contact us</p>

    <p class="text-body">
        If you experience any technical issues or unexpected behavior, we request you to report them with relevant details. This helps us identify and resolve problems efficiently, ensuring a better user experience for all.
        <br><br>
        We value your feedback as it plays a crucial role in improving our services. Please feel free to share your suggestions or concerns.
        <br><br><br><br>
        <span style="font-size: 24px;"><strong>&#128222; Contact Information</strong></span>
        <br><br>
        &#128231; Email : the.medinsight.ai@gmail.com
        <br>
        &#128205; Location : Palakkad, Kerala, India
    </p>
</body>
</html>